<br>
<div class="jumbotron">
  <h1 style="color:blue;height:80px">Favorite Foods</h1>
  <p style="color:blue;height:1920px">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>
